<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="container mt-2">
  <h1 class="display-4">{{title}}</h1>
  <hr class="my-2">

  @layout('layouts/main')
  @set('title', title)

  @section('body')
  <p>{{message}}</p>
  <form method="post" action="/sample">
    <div class="mb-3">
      <label for="msg" class="form-label">Message</label>
      <input type="text" class="form-control"
        id="msg" name="msg">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control"
        id="name" name="name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control"
             id="email" name="email">
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      <input type="text" class="form-control"
             id="age" name="age">
    </div>
    <button type="submit" class="btn btn-secondary">送信</button>
  </form>
  @end

  <div style="width:100%"
       class="fixed-bottom bg-secondary p-1">
      <p class="text-center text-white m-0">
        copyright 2023 Yoshiya Miyagi.
      </p>
  </div>
</body>
</html>

